.App {
  text-align: center;

}


.App-link {
  color: #61dafb;
}


.grid{
  margin: 0 auto;
  width: 800px;
  border: 2px solid black;
  margin-top: 80px;
  background: black;
  border-radius: 10px;

}
.rows{
  display: flex;
  flex-direction: row;

}

.dead{
  display:flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;


}

.alive{
  display:flex;
  flex-direction: column;
  background: #84fff9;
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

.wtf{
  display:flex;
  flex-direction: column;
  background: #ff7dff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.bro{
  display:flex;
  flex-direction: column;
  background: #fff042;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ble{
  display:flex;
  flex-direction: column;
  background: #E91E63;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color{
  display:flex;
  flex-direction: column;
  background: #71ffaa;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}