@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

A {text-decoration: none;}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}


.App-link {
  color: #61dafb;
}

.pixel{
  font-family: 'Press Start 2P', cursive;
}

.conway{
  width: 50px;
  margin-left: 20px;
}

.rip{
  font-family: 'Exo', sans-serif;
}
.link{
  text-decoration: none;
  color: darkblue;
}

.titu2{
  color: #d26579;
  font-family: 'La Belle Aurore', cursive;


}
  
.grid{
  margin: 0 auto;
  background: black;
  border: 1px double black;
  border: 5px double black;
}

.rows{
  display: flex;
  flex-direction: row;

}

.dead{
  display:flex;
  flex-direction: column;
  width: 12px;
  height: 12px;
  background: #272727;
  border: 1px solid black;


}

.alive{
  display:flex;
  flex-direction: column;
  background: #F6019D;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.wtf{
  display:flex;
  flex-direction: column;
  background: #2DE2E6;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.bro{
  display:flex;
  flex-direction: column;
  background: #c5cbff;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.ble{
  display:flex;
  flex-direction: column;
  background: #c5cbff;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.color{
  display:flex;
  flex-direction: column;
  background: #2DE2E6;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}


.buttons{
  font-family: 'Open Sans', sans-serif;
}